:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

:host,
      a {
        display: flex;
      }

      mat-card {
        width: 400px;
        margin: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      @media only screen and (max-width: 768px) {
        mat-card {
          margin: 1rem 0 !important;
        }
      }

      mat-card:hover {
        box-shadow: 3px 3px 16px -2px rgba(0, 0, 0, 0.5);
      }

      a {
        color: inherit;
        text-decoration: none;
      }

      img {
        width: 60px;
        min-width: 60px;
        margin-left: 5px;
      }

      span {
        display: inline-block;
        font-size: 13px;
      }

      mat-card-content {
        padding: 0;
        margin: 1rem 0;
      }